<html>
<head>
    <link href="{{ asset('bundles/main/logincss.css') }}" type="text/css" rel="stylesheet" />
</head>



<body>
<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input id="username" type="text" placeholder="username"/>
            <input id="password" type="password" placeholder="password"/>
            <input id="email" type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="/apags">Sign In</a></p>
        </form>
        {#<form class="login-form">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
        </form>#}
    </div>
</div>
</body>




<script>
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
</script>

</html>